@charset "UTF-8";
/* CSS Document */

/* HP */

.index {
	height:100%;
	position: absolute;
	transform: scale(1.1);
	transition: 5s ease-in-out;
	
	background-color: white;
}

.index:hover {
	transform: scale(1.4);
}

.enter {
	position:relative;
	left:10vw;
	top:50vh;
	opacity:0.5;
	color:black;
	opacity:0.2;
}




/* 背景画像 */
.home {
	height:100%;
}



/* 左右切り替え */
.btn {
    height:100%;
    margin-left:10vw;
    
}
.change {
    position: absolute;
    bottom:0;
    right:0;
    padding:5vw;
    z-index:10;
    height:30px
}


/* 位置バー */
.home-place {
    padding:5vh 5vw;
    position: absolute;
    bottom:0;
}
.bar-on {
    height:2px;
    width:40px;
    background-color: white;
    margin-right:10px;
    float:left;
    
}
.bar-off {
    height:2px;
    width:40px;
    background-color:gray;
    margin-right:10px;
    float:left;
}



