@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 500px){
    
    h1{
        font-size:16px;
    }
    
    
    h2{
        font-size:16px;
    }
    
    h3{
        font-size:13px;
    }
    
    h4{
        font-size:13px;
    }
    
    
    p{
        font-size:8px
    }
    
    
    .home-logo{
        font-size:20px;
        height:35px;
        width:40px;
        padding-top:4px;
		
    }
    
    .menu{
        font-size:12px;
        height:26px;
        width:140px;
        right:-55px;
    }
    
	
	.title {
    padding:10vh 5vw;
}
	.home-place {
    padding:8vh 5vw;
}
    
    
    .change{
        height:20px;
    }
    
    
    .bar-on{
        width:25px;
    }
    
    .bar-off{
        width:25px;
    }
    
    
}
    
    
    
    
    
