@charset "UTF-8";
/* CSS Document */

/* トップ画 */
.front {
    position:relative;
    margin:0px;
    height:100vh;
    
}
.top {
    margin:0px;
    height:75vh;
    width:100%;
    z-index:1;
    
}


/* 概要 */
.about {
    
    padding:20px 5vw;
    background-color: dimgrey;
    margin-top:0vh;
    
}
.member {
    margin:50px 0px 0px;
    columns:500px;
}


/* 内容 */
.contents {
    width:100vw;
    box-sizing:border-box;
}
.contents img{
    padding-top:50px;
}

/* 画像の位置調整 */
.x {
    padding-left:15vw;
}
.xx{
    padding-left:25vw;
}
.xxx {
    padding-left:15vw;
    padding-right:15vw;
}
.xxxx{
    padding-right:25vw;
}
.xxxxx {
    padding-right:15vw;
}

/* 解説文パート */
.caption {
    padding:50px 15vw 0;
    width:70vw;
}


/* other projects */
.other-works {
    
    padding:20px 5vw;
    
    background-color: dimgrey;
    margin-top:50px;
}
.other-img {
    height:300px;
    object-fit: cover;
    margin-bottom: 20px
}
.other-watch {
    position:
}




