@charset "UTF-8";
/* CSS Document */
.top {
    margin:0px;
    height:75vh;
    width:100%;
    z-index:1;
    
}
.about {
    
    padding:20px 5vw;
    background-color: dimgrey;
    margin-top:0vh;
    
}

p {
    margin:0px;
    font-size:10px;
}

.member {
    margin:50px 0px 0px;
    columns:500px;
}

.front {
    position:relative;
    margin:0px;
    height:100vh;
    
}

.other-works {
    
    padding:20px 5vw;
    
    background-color: dimgrey;
    margin-top:50px;
}


.contents {
    width:100vw;
    box-sizing:border-box;
}

.contents img{
    padding-top:50px;
}



.x {
    padding-left:15vw;
}

.xx{
    padding-left:25vw;
}

.xxx {
    padding-left:15vw;
    padding-right:15vw;
}

.xxxx{
    padding-right:25vw;
}

.xxxxx {
    padding-right:15vw;
}




.other-img {
    height:300px;
    object-fit: cover;
    margin-bottom: 20px
}

.other-watch {
    position:
}

.caption {
    padding:50px 15vw 0;
    width:70vw;
}


